In [1]:
import pandas as pd
import censusdata

In [2]:

#CSV has official recreational marijuana tax info by the State of Colorado. Downloaded from https://data.colorado.gov/Revenue/Marijuana-Special-Tax-Revenue-by-City-in-Colorado/ehk3-i5tr
# Read our Colorado recreational weed tax data (2014-2018) into pandas

taxData_df = pd.read_csv("Resources/Marijuana_Special_Tax_Revenue_by_City_in_Colorado.csv")
#Cleaning the data by dropping irrelevant columns
taxData_df = taxData_df[["Municipality","Tax_Rev"]]
taxData_df.rename(columns={'Municipality': 'City'}, inplace=True)
taxData_df.dropna(inplace=True)
#Getting the sum for all cities
taxData_df = taxData_df.groupby('City').sum()
taxData_df.info

<bound method DataFrame.info of                                  Tax_Rev
City
Adams County                   156987.00
Antonito                       218673.00
Aspen                          538223.78
Aurora                        4768785.84
Boulder                       2707634.81
Boulder County                 288675.11
Breckenridge                   585244.53
Carbondale                      97667.40
Central City                   107851.11
Combined Local Governments    5128176.42
Commerce City                   10348.00
Cortez                         677927.45
Crested Butte                  168560.76
De Beque                       131028.00
Denver                       20847472.16
Dillon                         210641.00
Dinosaur                        23008.00
Durango                       1290213.28
Eagle County                   285213.31
Edgewater                     1515789.35
Federal Heights                213505.00
Fort Collins                   880174.57
Ft Collins                    1545150.00
Garden City                   1685897.57
Glendale                       970218.98
Glenwood Springs               333552.65
Gunnison                       177100.00
Idaho Springs                  274746.49
Lafayette                       75976.00
Leadville                       95791.00
Log Lane Village               320053.00
Mancos                          44747.00
Nederland                       66281.00
Northglenn                    1428043.50
Parachute                      355171.00
Park County                     41135.00
Pueblo                         267145.00
Pueblo County                  996128.91
Ridgway                        205134.00
Salida                         253621.00
Sheridan                         3131.00
Steamboat Springs              438511.65
Sum of NR Local Governments   3603189.00
Telluride                      300087.64
Thornton                        91777.00
Trinidad                      1806684.35
Wheat Ridge                    717392.72>

In [7]:
taxData_df.count()

Tax_Rev    47
dtype: int64

In [38]:
# Okay now lets look at the census data
# We are using the censusdata library

In [3]:
mydata = censusdata.download('acs5', 2017,
                            censusdata.censusgeo([('state','08'), ('county', '*'),
                            ('county subdivision','*')]),
                            ['B19013_001E', 'B01003_001E', 'B01001_002E',
                             'B01001A_001E', 'B01001B_001E', 'B01001D_001E', 'B01001I_001E',
                             'B23025_004E', 'B01002A_001E', 'B09001_001E',
                             'B08136_001E'])
mydata['city'] = mydata.index
mydata = mydata.reset_index()

cities = []
clean = []
length = len(mydata['city'])
for i in range (0,length):
    cities.append(str(mydata['city'].tolist()[i]).split(',')[0])
for i in cities:
    end = (len(i.split(' ')))
    i = (i.split(' ')[:end-1])
    clean.append(" ".join(i))
    
census_df = pd.DataFrame({"City": [],"Income":[],"Population":[], "Male Pop (%)":[],
                   "White (%)":[],"Black (%)":[],"Asian (%)":[],"Hispanic (%)":[],
                   "Employed (%)":[], "Travel Time to Work (mins)":[],
                  "Median Age":[], "Age <18 (%)":[]})
census_df['City'] = clean
census_df['Income'] = mydata["B19013_001E"]
census_df['Population'] = mydata['B01003_001E']
census_df['Male Pop (%)'] = ((mydata['B01001_002E'])/(mydata['B01003_001E'])*100).round(2)
census_df["White (%)"] = ((mydata['B01001A_001E'])/(mydata['B01003_001E'])*100).round(2)
census_df["Black (%)"] = ((mydata['B01001B_001E'])/(mydata['B01003_001E'])*100).round(2)
census_df["Asian (%)"] = ((mydata['B01001D_001E'])/(mydata['B01003_001E'])*100).round(2)
census_df["Hispanic (%)"] = ((mydata['B01001I_001E'])/(mydata['B01003_001E'])*100).round(2)
census_df["Employed (%)"] = ((mydata['B23025_004E'])/(mydata['B01003_001E'])*100).round(2)
census_df['Median Age'] = mydata['B01002A_001E']
census_df['Age <18 (%)'] = ((mydata['B09001_001E'])/(mydata['B01003_001E'])*100).round(2)
census_df["Travel Time to Work (mins)"] = ((mydata['B08136_001E'])/(mydata['B23025_004E'])).round(0)

In [5]:
#pd.merge(df_a, df_b, on='subject_id', how='inner')

merged_df = pd.merge(census_df , taxData_df, on="City", how='inner')

In [6]:
merged_df

,City,Income,Population,Male Pop (%),White (%),Black (%),Asian (%),Hispanic (%),Employed (%),Travel Time to Work (mins),Median Age,Age <18 (%),Tax_Rev
0,Trinidad,39292,10819,49.58,84.37,0.32,0.90,47.81,45.77,NaN,43.9,19.05,1806684.35
1,Steamboat Springs,72132,17678,52.40,95.02,0.96,1.37,7.07,61.51,13.0,39.3,18.15,438511.65
2,Breckenridge,76701,17459,52.41,95.11,0.17,0.61,3.16,64.28,12.0,39.2,14.65,585244.53
3,Idaho Springs,71172,6754,50.33,93.75,1.01,0.98,4.53,56.11,NaN,48.3,17.56,274746.49
4,Pueblo,36840,115330,49.18,73.37,2.85,0.90,50.39,39.22,18.0,42.0,22.72,267145.00
5,De Beque,55000,901,50.50,98.89,0.00,0.00,6.10,41.29,NaN,37.4,30.97,131028.00
6,Antonito,25972,1807,52.85,89.71,1.49,0.00,86.44,32.87,NaN,45.2,21.69,218673.00
7,Commerce City,43133,32427,50.18,82.10,5.46,0.30,66.47,41.06,NaN,30.6,32.92,10348.00
8,Leadville,46397,6357,52.79,88.74,0.14,0.76,26.93,57.42,NaN,41.0,14.54,95791.00
9,Durango,63468,33437,49.59,89.78,0.57,0.62,11.42,55.12,NaN,39.0,17.94,1290213.28
10,Dinosaur,40417,359,57.38,98.05,0.00,0.00,18.38,42.62,NaN,35.5,20.89,23008.00
11,Aspen,69005,10164,52.65,91.29,1.88,2.42,7.73,63.83,13.0,43.8,15.97,538223.78
12,Fort Collins,59690,170905,50.12,89.34,1.36,2.85,12.49,54.25,18.0,31.3,18.79,880174.57
13,Mancos,51250,3807,50.01,93.30,0.71,0.21,8.20,46.65,NaN,45.1,21.28,44747.00
14,Cortez,44625,16848,49.10,84.75,0.31,0.08,14.99,43.88,19.0,47.0,22.20,677927.45
15,Telluride,64871,5899,54.20,94.52,0.24,1.66,10.56,63.01,14.0,42.2,18.09,300087.64
16,Boulder,68612,123899,51.65,88.87,1.01,4.89,8.96,55.73,NaN,31.5,13.57,2707634.81
17,Denver,60098,678467,50.02,76.86,9.50,3.60,30.52,55.13,23.0,35.0,20.43,20847472.16
18,Salida,53414,10146,51.43,94.47,0.12,0.97,12.77,50.28,NaN,51.7,14.90,253621.00
19,Central City,72544,5793,53.65,92.80,0.59,0.28,9.22,58.67,31.0,45.7,18.40,107851.11
20,Glenwood Springs,73074,25629,50.09,86.13,0.21,1.01,29.82,54.89,24.0,39.6,23.76,333552.65
21,Gunnison,47947,10501,53.87,97.03,0.46,0.05,12.17,58.62,13.0,32.1,16.26,177100.00
22,Crested Butte,72536,4845,54.34,95.31,0.02,1.42,3.20,59.20,11.0,36.3,22.11,168560.76